body {
    font-family: Trebuchet MS ;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 

}

h1 {
    color: #234457
}

h2 {
    color: #787878 
}

pre {
    font-family: Trebuchet MS ;
}



.donate-button {
    background-color: #fa9600;
    color: white;
    font-family: Trebuchet MS ;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 40px;
}
.donate-button:hover {
    background-color: #fad400;
}

.donate-button a{
    text-decoration: none;
    color: white;
}


