h1 {
    color: #234457
}

h2 {
    color: #787878 
}

h1 {
    font-family: Trebuchet MS ;
}

pre {
    font-family: Trebuchet MS ;
}

li { 
    font-family: Trebuchet MS ;
}

h2 {
    font-family: Trebuchet MS ; 
}


